{% extends '::base.html.twig' %}

{% block title %} {{ parent() }}home {% endblock %}

    
{% block appli_content %}
    <!-- Begin page content -->
    <div>

        <h1>CECI EST LA PAGE D'ACCUEIL</h1>

    </div>

{% endblock %}
